<h1>Round [round number]</h1>
<%= image_tag("facedown.jpg", :alt => "Card 1") %>  <%= image_tag("facedown.jpg", :alt => "Card 2") %>  <%= image_tag("facedown.jpg", :alt => "Card 3") %>
<%= form_for @player do |f| %>
	<h2>Player 1</h2>
	Money left: <br>
	Bet: <%= f.number_field :p1_bet, :value => 10 %><br>
	Card: <%= f.select :p1card, [['1','1'],['2','2'],['3','3']] %>
	<br/>	
	<h2>Player 2</h2>
	Money left: <br>
	Bet: <%= f.number_field :p2_bet, :value => 10  %><br>
	Card:<%= f.select :p2card, [['1','1'],['2','2'],['3','3']] %>
	<br/><br>
	<%= f.submit 'Make bet!' %>
<% end %>
