<h1>Pick a Card</h1>
<%= image_tag("cover1.jpg", :alt => "Card 1") %>  <%= image_tag("cover2.jpg", :alt => "Card 1") %>  <%= image_tag("cover3.jpg", :alt => "Card 1") %>
<%= form_for @player do |f| %>
	<h2>Player 1</h2>
	Bet: <%= f.number_field :p1_bet %><br>
	Card: <%= f.select :p1card, [['1','1'],['2','2'],['3','3']] %>
	<br/>	
	<h2>Player 2</h2>
	Bet: <%= f.number_field :p2_bet %><br>
	Card:<%= f.select :p2card, [['1','1'],['2','2'],['3','3']] %>
	<br/>
	<%= f.submit 'Make bet!' %>
<% end %>
