<h1>Let's play!!!!!!!</h1>
<p>3 cards, face down, each player has 3 forms for bet</p>

<%= form_for @player do |f| %>
	<h2>Bet of Player 1</h2>
	<%= f.number_field :p1_bet %><%= f.select :p1card, [['1','1'],['2','2'],['3','3']] %>
	<br/>	
	<h2>Bet of Player 2</h2>
	<%= f.number_field :p2_bet %><%= f.select :p2card, [['1','1'],['2','2'],['3','3']] %>
	<br/>
	<%= f.submit 'Make bet!' %>
<% end %>

<p>Buttons: Bet!</p>
