<h1>3 cards here</h1>
<%= form_for @player do |f| %>
<h2>Player 1 Bet</h2>
	<%= f.text_field :p1_bet1 %>
	<%= f.text_field :p1_bet2 %>
	<%= f.text_field :p1_bet3 %>
<h2>Player 1 Bet</h2>
	<%= f.text_field :p2_bet1 %>
	<%= f.text_field :p2_bet2 %>
	<%= f.text_field :p2_bet3 %>
<br/>
	<%= f.submit 'Register New User' %>
<% end %>
